[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
pytest-flask = "*"

[dev-packages]
pytest = "*"
pytest-black = "*"
safety = "*"
pycco = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
